body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
section#hola {

  display: grid;
  place-items: center;

p{
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  font-family: "Courier New";
  border-right: 0.15em solid #18bdec;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  ce
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

section {
  padding: 1em;
}

section#about-me {
  background-color: #f2f2f2;
}

section#achievements {
  background-color: #e5e5e5;
}

section#gallery img {
  width: 100%;
}

section#contact form {
  text-align: center;
}

label, input, textarea {
  display: block;
  margin: 1em 0;
}
